table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 7px;
    text-align: center;
}

table {
    border-width: 3px;
}

th {
    font-weight: bold;
}

th, td {
    vertical-align: middle;
}

.super {
    vertical-align: super;
    font-size: 75%;
}

.smaller {
    font-size: 75%;
}

.caption {
    font-size: 125%;
    margin-bottom: 5px;
}
